.LblTextoBusq {
    color: cadetblue;
    font-size: 100%;
}

.TablaBusqueda {
    position: relative;
    text-align: center;
    left: 30%;
    width: 15%;
    height: 5%;
    top:60px;
 
}

.BtnImagenBusqueda {
    background-image: url("../Images/FindV2.png");
    background-size: cover;
    width: 32px;
    height: 30px;
    left: 95%;
    top: 1%;
}

.BtnExpExcel {
    background-image: url("../Images/ExcelV1.png");
    background-size: cover;
    width: 32px;
    height: 30px;
    left: 95%;
    top: 1%;
}

.CentrarTable {
    text-align: center;
}
.TabOpcBusq {
    position: relative;
    text-align: center;
    left: 30%;
    width: 50%;
    height: 5%;
    top: 10px;
}
